<!--<div class="row g-3 mb-3">-->
<!--  <div class="col-sm-6 col-md-4">-->
<!--    <div class="card overflow-hidden" style="min-width: 12rem">-->
<!--      <div class="bg-holder bg-card" style="background-image:url(../../../assets/img/icons/spot-illustrations/corner-1.png);"></div>&lt;!&ndash;/.bg-holder&ndash;&gt;-->
<!--      <div class="card-body position-relative">-->
<!--        <h6>Customers<span class="badge badge-subtle-warning rounded-pill ms-2">-0.23%</span></h6>-->
<!--        <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif text-warning" data-countup='{"endValue":58.386,"decimalPlaces":2,"suffix":"k"}'>0</div><a class="fw-semi-bold fs-10 text-nowrap" href="../app/e-commerce/customers.html">See all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-6 col-md-4">-->
<!--    <div class="card overflow-hidden" style="min-width: 12rem">-->
<!--      <div class="bg-holder bg-card" style="background-image:url(../../../assets/img/icons/spot-illustrations/corner-2.png);"></div>&lt;!&ndash;/.bg-holder&ndash;&gt;-->
<!--      <div class="card-body position-relative">-->
<!--        <h6>Orders<span class="badge badge-subtle-info rounded-pill ms-2">0.0%</span></h6>-->
<!--        <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif text-info" data-countup='{"endValue":23.434,"decimalPlaces":2,"suffix":"k"}'>0</div><a class="fw-semi-bold fs-10 text-nowrap" href="../app/e-commerce/orders/order-list.html">All orders<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-4">-->
<!--    <div class="card overflow-hidden" style="min-width: 12rem">-->
<!--      <div class="bg-holder bg-card" style="background-image:url(../../../assets/img/icons/spot-illustrations/corner-3.png);"></div>&lt;!&ndash;/.bg-holder&ndash;&gt;-->
<!--      <div class="card-body position-relative">-->
<!--        <h6>Revenue<span class="badge badge-subtle-success rounded-pill ms-2">9.54%</span></h6>-->
<!--        <div class="display-4 fs-5 mb-2 fw-normal font-sans-serif" data-countup='{"endValue":43594,"prefix":"$"}'>0</div><a class="fw-semi-bold fs-10 text-nowrap" href="../index.html">Statistics<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div>

  <app-search
    [title]="'Competition'"
    [formGroup]="searchForm"
    (SearchChange)="onSearchChange($event)"
    (SortChange)="onSortChange($event)"
  >

  </app-search>

  <ng-container *ngIf="competitions$ | async as competitions">
    <app-competition-card
      (participateButtonClicked)="participate($event)"
      *ngFor="let competition of competitions"
      [data]="competition"
      [competitionId]="competitionId$ | async"
      [errorServer]="errorServer"
      [created]="created$ | async"
    ></app-competition-card>
  </ng-container>

  <app-pagination
  (SizeChange)="onSizeChange($event)"
  (PageChange)="onChangePage($event)"
  [currentPage]="currentPage$ | async"
  [totalPages]="totalPages$ | async"
  [size]="searchForm.get('size')?.value"

  />





</div>

